{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Add Income</h2>

    <!-- Display success messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success mt-3" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Income Form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Add Income</button>
    </form>
        <!-- Back to Home Link -->
        <a href="{% url 'home' %}" class="back-link">Back to Home</a>
</div>
{% endblock %}
