{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Edit Income</h2>
    <form method="post">
                <!-- Display messages -->
                {% if messages %}
                <div class="alert">
                    <ul class="mb-0">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Update Income</button>
        <a href="{% url 'view_incomes' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
